@layer base, theme;

@layer base {
  * {
    box-sizing: border-box;
  }

  .input {
    --default-border-color: #aaa;
    --focus-color: #0af;

    border: 1px solid var(--default-border-color);
    outline: none;
    font-size: inherit;
    padding: 0.5em;
    border-radius: 0.2em;

    &:focus-visible {
      border-color: var(--focus-color);
      box-shadow: 0 0 5px 0 var(--focus-color);
    }

    &:disabled {
      background-color: #eaeaea;
      cursor: not-allowed;
    }
  }
}

@layer theme {
  .input-success {
    --default-border-color: #27ae60;
    --focus-color: #0f0;
  }

  .input-error {
    --default-border-color: #eb5757;
    --focus-color: #f00;
  }

  .input-large {
    font-size: 1.25rem;
  }

  .input-small {
    font-size: 0.75rem;
  }
}
