input {
  margin: 0px 0px;
  border: 1px solid lightgrey;
  border-width: 1px;
  border-radius: 3px;
  padding: 0.5em;
  font-size: medium;
  outline: none;

  --box-shadow-lengths: 0px 0px 3px 1px;

  --default-color: aqua;
  --success-color: green;
  --error-color: red;
  &:focus-visible {
    outline: none;
    box-shadow: var(--box-shadow-lengths) var(--default-color);
  }
}

input[value="Success"] {
  border: 1px solid var(--success-color);
  &:focus-visible {
    box-shadow: var(--box-shadow-lengths) var(--success-color);
  }
}

input[value="Error"] {
  border: 1px solid var(--error-color);
  &:focus-visible {
    box-shadow: var(--box-shadow-lengths) var(--error-color);
  }
}

input[value="Large"] {
  font-size: large;
}

input[value="Small"] {
  font-size: small;
}

input:disabled {
  background-color: grey;
  &:hover {
    cursor: not-allowed;
  }
}
