@layer base, theme, validation;

.input-group {
  margin-bottom: 0.25rem;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  .input-group {
    --default-border-color: #aaa;
    --focus-color: #0af;
  }

  .input {
    border: 1px solid var(--default-border-color);
    outline: none;
    font-size: inherit;
    padding: 0.5em;
    border-radius: 0.2em;

    &:focus-visible {
      border-color: var(--focus-color);
      box-shadow: 0 0 5px 0 var(--focus-color);
    }

    &:disabled {
      background-color: #eaeaea;
      cursor: not-allowed;
    }
  }
}

@layer theme {
  .input-large {
    font-size: 1.25rem;
  }

  .input-small {
    font-size: 0.75rem;
  }
}

@layer validation {
  .input-group {
    --icon-size: 1.75rem;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;

    &:has(.input:user-valid) {
      --default-border-color: #27ae60;
      --focus-color: #0f0;

      &::after {
        content: "✔";
      }
    }

    &:has(.input:user-invalid) {
      --default-border-color: #eb5757;
      --focus-color: #f00;

      &::after {
        content: "✖";
      }
    }

    &:has(.input:user-valid),
    &:has(.input.input:user-invalid) {
      .input {
        padding-inline-end: var(--icon-size);
      }

      &::after {
        position: absolute;
        width: var(--icon-size);
        text-align: center;
        color: var(--default-border-color);
      }

      &:has(.input:focus-visible)::after {
        color: var(--focus-color);
      }
    }
  }
}
