@layer base, theme;

@layer base {
  * {
    box-sizing: border-box;
  }

  .btn {
    --bg-color: oklch(92% 0 0);

    background: var(--bg-color);
    border: 1px solid oklch(from var(--bg-color) calc(l - 0.15) c h);
    outline: none;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.3em;

    &:hover,
    &:focus-visible {
      background-color: oklch(from var(--bg-color) calc(l - 0.075) c h);
      box-shadow: 0 0 5px 0 oklch(from var(--bg-color) calc(l - 0.15) c h);
    }
  }
}

@layer theme {
  .btn-primary {
    --bg-color: oklch(56% 0.244 301);
    color: white;
  }

  .btn-accent {
    --bg-color: oklch(56% 0.141 242);
    color: white;
  }

  .btn-danger {
    --bg-color: oklch(56% 0.19 26);
    color: white;
  }

  .btn-custom {
    --gradient-1: oklch(56% 0.244 301);
    --gradient-2: oklch(56% 0.141 242);
    background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
    color: white;
    border: none;

    &:hover,
    &:focus-visible {
      background: linear-gradient(
        to right,
        oklch(from var(--gradient-1) calc(l - 0.075) c h),
        oklch(from var(--gradient-2) calc(l - 0.075) c h)
      );
    }
  }

  .btn-large {
    font-size: 1.25rem;
  }

  .btn-small {
    font-size: 0.75rem;
  }

  .btn-pill {
    border-radius: 999999px;
  }
}
