button {
  cursor: pointer;
  border: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 0.9rem;

  --box-shadow-lengths: 0 0 5px 0;

  --default-background-color: lightgray;
  --default-text-color: black;
  --primary-background-color: purple;
  --primary-text-color: white;
  --accent-background-color: blue;
  --accent-text-color: white;
  --danger-background-color: red;
  --danger-text-color: white;

  &:hover {
    filter: brightness(0.8) saturate(0.9);
  }
}

button.default {
  color: var(--default-text-color);
  &:hover {
    box-shadow: var(--box-shadow-lengths) var(--default-background-color);
  }
}

button.primary {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  &:hover {
    box-shadow: var(--box-shadow-lengths) var(--primary-background-color);
  }
}

button.accent {
  background-color: var(--accent-background-color);
  color: var(--accent-text-color);
  &:hover {
    box-shadow: var(--box-shadow-lengths) var(--accent-background-color);
  }
}

button.danger {
  background-color: var(--danger-background-color);
  color: var(--danger-text-color);
  &:hover {
    box-shadow: var(--box-shadow-lengths) var(--danger-background-color);
  }
}

button.large {
  font-size: large;
}

button.small {
}

button.pill {
  border-radius: 50px;
}
